.footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.footerItems {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

.footerItem img {
    margin-left: -140px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgb(236, 236, 236);
}

.footerItem {
    text-align: center;
}

.footerItem h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgba(64, 60, 57, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    margin-left: 10px;

}

.footerItem p {
    text-align: left;
    margin-left: 10px;
    width: 250px;
    font-size: 0.9rem;
    color: #666;
}

.footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    color: #000;
}

.footer.darkMode {
    background-color: #333;
    color: #fff;
}

.footer.darkMode p{
    color: #ccc;
}

.footer.darkMode h3{
    color: goldenrod;
}

.footer.lightMode {
    background-color: #fff;
    color: #000;
}

.footerItem {
    flex: 1;
    margin: 10px;
}

.footerItem img {
    width: 100px;
    height: auto;
}